svg {
  width: 100%;
  margin: 0.5rem 0rem;
  /* background-color: #efecea; */
  background-color: #f5f3f2;
  min-height: 520px;
}

.tree-links {
  fill: none;
  stroke: steelblue;
}

.tree-text {
  text-shadow: -1px -1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    1px 1px 3px white;
}

.depth-0 {
  font-size: 2rem;
}

.depth-1 {
  font-size: 1.5rem;
}
.depth-2 {
  font-size: 1rem;
}
.depth-3 {
  font-size: 0.2rem;
}
/* 
.child-node {
  font-size: 0.09em;
} */

.barplot-rect {
  fill: steelblue;
}
.scatterplot-circle {
  /* fill: #e3ba22; */
  fill: #b396ad;
  opacity: 0.8;
  stroke: black;
  stroke-width: 1;
}
.plot-title {
  /* text-anchor: middle; */
  fill: #635f5d;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}
text {
  fill: #8e8883;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.label {
  fill: #8e8883;
  font-family: "IBM Plex Mono", monospace;
  font-variant: small-caps;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.tick {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-style: smallcaps;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label-scatterplot {
  font-size: 1.5rem;
}

.line-plot {
  stroke: #bd2d28;
  stroke-width: 2;
  stroke-linejoin: round;
}

.area-plot {
  fill: #e25a42;
  stroke-linejoin: round;
  /* stroke: black; */
  /* stroke-width: 2; */
}

.geo-paths {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.01rem;
}

.geo-paths:hover {
  fill: maroon;
}
.geo-paths2 {
  stroke: black;
  stroke-width: 0.01rem;
}

.geo-paths2:hover {
  fill: slategrey;
}
/* #map-beg {
  background-color: black;
} */
.sphere-path {
  fill: skyblue;
}

/* legend */
.legend-tick-text {
  font-family: monospace;
  /* font-size: 2rem; */
}
