body {
  font-family: "Baskervville", serif;
  margin: 0;
}

/* debugging */
.container {
  background-color: white;
  /* reset numbering for headings */
  counter-reset: h2counter 0;
}

.row {
  width: 95%;
  counter-reset: h3counter;
  counter-reset: figureCaption;
}

/* general styles */
h1,
h2,
h3 {
  text-align: center;
  font-variant: small-caps;

  color: #635f5d;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  font-weight: 700;
  /* border-bottom: 1px black double; */
}

h2::before {
  counter-increment: h2counter;
  content: counter(h2counter) ".\0000a0\0000a0";
}
h2 {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  color: #9a3e25;
}

h3::before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ".\0000a0";
}
h3 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: darkgreen;
}

figure,
ol,
ul,
p {
  font-size: 1.1rem;
  margin: 0.5rem 2rem;

  color: #25201d;
}
code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.8rem;
  width: 100%;
}
p code {
  background-color: #ffefc4;
  /* border: 1px dashed greenyellow; */
}
/* flexbox styles */
.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.row {
  margin: 1rem 1rem;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
.row:last-child {
  border-bottom: none;
}
figure {
  display: block;
  margin: 2rem 0;
  /* width: 70%; */
}

figcaption::before {
  counter-increment: figureCaption 1;
  content: "fig " counter(h2counter) "." counter(figureCaption)
    ": \0000a0\0000a0";
}
figcaption {
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}
