body {
  font-family: "Baskervville", serif;
  margin: 0;
}

/* debugging */
.container {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}
.row {
  border: 1px dashed darkgrey;
}

p {
  background-color: thistle;
}

ol,
ul {
  background-color: wheat;
}

code {
  border: 1px dashed greenyellow;
}
/* general styles */
h1,
h2 {
  text-align: center;
}

/* flexbox styles */
.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.row {
  margin: 1rem 1rem;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  width: 100%;
}

.file-reference {
  font-family: "IBM Plex Mono", monospace;
}

iframe {
  width: 100%;
}
iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

svg {
  width: 100%;
  background-color: papayawhip;
  max-height: 520px;
  max-width: 960px;
  height: 520px;
}

ol,
ul,
p {
  font-size: 1.1rem;
  margin: 0.5rem 1.5rem;
}
