body {
  font-family: "Baskervville", serif;
  margin: 0;
}

/* debugging */
.container {
  background-color: white;
}
.row {
  /* border: 1px dashed darkgrey; */
  width: 95%;
}

code {
  border: 1px dashed greenyellow;
}
/* general styles */
h1,
h2 {
  text-align: center;
}

/* flexbox styles */
.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.row {
  margin: 1rem 1rem;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  width: 100%;
}

.file-reference {
  font-family: "IBM Plex Mono", monospace;
}

iframe {
  width: 100%;
}
iframe:focus {
  outline: none;
}

iframe[seamless] {
  display: block;
}

button {
  background-color: #e6842a;
  border: none;
  color: white;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  margin: 0.5rem;
  margin: 0 auto;
  border-radius: 12px;
  text-decoration: none;
}

svg {
  width: 100%;
  margin: 0.5rem 0rem;
  background-color: #efecea;
  max-height: 520px;
  max-width: 960px;
  height: 520px;
}

ol,
ul,
p {
  font-size: 1.1rem;
  margin: 0.5rem 2rem;
}

.barplot-rect {
  fill: steelblue;
}
.scatterplot-circle {
  /* fill: #e3ba22; */
  fill: #b396ad;
  opacity: 0.8;
  stroke: black;
  stroke-width: 1;
}
.plot-title {
  fill: #635f5d;
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}
text {
  fill: #8e8883;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}
.tick {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label-scatterplot {
  font-size: 1.5rem;
}
